'''
Sample .env file. It will be updated alongside the original .env file's content.
Create a .env file in the project root On the same level as index.py.
'''

# MongoDB Atlas
MONGO_DB = "<MONGO_DB credential>"